In [10]:
import pandas as pd 
import numpy as np
import pickle

* 1-Logistic Regression + Filter_3
* 2-Logistic Regression + Filter_2
* Random Forest + Filter_4

In [11]:
with open('../models/teams.pkl','rb')as f:
    teams=pickle.load(f)

teams=pd.DataFrame(teams.value_counts())
teams.drop('count',axis=1,inplace=True)
teams.reset_index(inplace=True)
teams

    numeric_name             team
0              0          Arsenal
1              1      Aston Villa
2              2      Bournemouth
3              3        Brentford
4              4         Brighton
5              5          Chelsea
6              6   Crystal Palace
7              7          Everton
8              8           Fulham
9              9     Ipswich Town
10            10   Leicester City
11            11        Liverpool
12            12  Manchester City
13            13   Manchester Utd
14            14    Newcastle Utd
15            15  Nott'ham Forest
16            16      Southampton
17            17        Tottenham
18            18         West Ham
19            19           Wolves

In [12]:
with open ('../models/venue.pkl','rb')as f:
    venue=pickle.load(f)
venue=pd.DataFrame(venue.value_counts())
venue.drop('count',axis=1,inplace=True)
venue.reset_index(inplace=True)
venue

    Venue_n                         Venue
0         0                       Anfield
1         1                Craven Cottage
2         2              Emirates Stadium
3         3                Etihad Stadium
4         4                 Goodison Park
5         5       Gtech Community Stadium
6         6            King Power Stadium
7         7                London Stadium
8         8              Molineux Stadium
9         9                  Old Trafford
10       10          Portman Road Stadium
11       11                 Selhurst Park
12       12                St James' Park
13       13             St Mary's Stadium
14       14               Stamford Bridge
15       15  The American Express Stadium
16       16               The City Ground
17       17     Tottenham Hotspur Stadium
18       18                    Villa Park
19       19              Vitality Stadium

In [13]:
home='Manchester Utd'

In [14]:
away='Chelsea'

In [15]:
studium='Old Trafford'

In [16]:
attendence=50000

In [17]:
with open('../models/statistics.pkl','rb')as f:
    statistics=pickle.load(f)

In [18]:
if(Match.studium is not None and Match.attendence is not None):
    ;
    match_data = {
    'home_numeric_name': teams.loc[teams['team'] == Match.home, 'numeric_name'].values[0],
    'away_numeric_name': teams.loc[teams['team'] == Match.away, 'numeric_name'].values[0],
    'Venue_n': venue.loc[venue['Venue'] == Match.studium, 'Venue_n'].values[0],
    'Attendance': Match.attendence}
elif(Match.studium is not None and Match.attendence is None):
    match_data = {
    'home_numeric_name': teams.loc[teams['team'] == Match.home, 'numeric_name'].values[0],
    'away_numeric_name': teams.loc[teams['team'] == Match.away, 'numeric_name'].values[0],
    'Venue_n': venue.loc[venue['Venue'] == Match.studium, 'Venue_n'].values[0]}
elif(Match.studium is  None and Match.attendence is not None):
     match_data = {
    'home_numeric_name': teams.loc[teams['team'] == Match.home, 'numeric_name'].values[0],
    'away_numeric_name': teams.loc[teams['team'] == Match.away, 'numeric_name'].values[0],
    'Attendance': Match.attendence}
else:
    match_data = {
    'home_numeric_name': teams.loc[teams['team'] == Match.home, 'numeric_name'].values[0],
    'away_numeric_name': teams.loc[teams['team'] == Match.away, 'numeric_name'].values[0]}
match = pd.DataFrame([match_data])

In [19]:
match['away_numeric_name']

0    5
Name: away_numeric_name, dtype: int64

In [20]:
if(Match.studium is not None and Match.attendence is not None):
    match = match.merge(
    statistics[['numeric_name', 'age', 'expected_goals', 'win', 'loss', 'draw', 'weekly', 'goals_x', 'conceded', 'points']],
    left_on='home_numeric_name',right_on='numeric_name',how='left').rename(columns={
    'age': 'home_age','expected_goals': 'home_xG','win': 'home_wins','loss': 'home_losses','draw': 'home_draws','weekly': 'home_weekly_salary',
    'goals_x': 'home_goals_total','conceded': 'home_conceded','points': 'home_points'}).drop('numeric_name', axis=1)
    match = match.merge(
    statistics[['numeric_name', 'age', 'expected_goals', 'win', 'loss', 'draw', 'weekly', 'goals_x', 'conceded', 'points']],
    left_on='away_numeric_name',right_on='numeric_name',how='left').rename(columns={
    'age': 'away_age','expected_goals': 'away_xG','win': 'away_wins','loss': 'away_losses','draw': 'away_draws','weekly': 'away_weekly_salary',
    'goals_x': 'away_goals_total','conceded': 'away_conceded','points': 'away_points'}).drop('numeric_name', axis=1)
    
elif(Match.studium is  None and Match.attendence is not None):
    match = match.merge(
    statistics[['numeric_name','expected_goals', 'win', 'loss', 'draw','conceded', 'points']],
    left_on='home_numeric_name',right_on='numeric_name',how='left').rename(columns={
    'expected_goals': 'home_xG','win': 'home_wins','loss': 'home_losses','draw': 'home_draws',
    'conceded': 'home_conceded','points': 'home_points'}).drop('numeric_name', axis=1)
    match = match.merge(
    statistics[['numeric_name','expected_goals', 'win', 'loss', 'draw','conceded', 'points']],
    left_on='away_numeric_name',right_on='numeric_name',how='left').rename(columns={
    'expected_goals': 'away_xG','win': 'away_wins','loss': 'away_losses','draw': 'away_draws',
    'conceded': 'away_conceded','points': 'away_points'}).drop(['numeric_name','Venue_n'], axis=1, errors='ignore')

else:
    match = match.merge(
    statistics[['numeric_name', 'age', 'expected_goals', 'win', 'loss', 'draw', 'weekly', 'goals_x', 'conceded', 'points']],
    left_on='home_numeric_name',right_on='numeric_name',how='left').rename(columns={
    'age': 'home_age','expected_goals': 'home_xG','win': 'home_wins','loss': 'home_losses','draw': 'home_draws','weekly': 'home_weekly_salary',
    'goals_x': 'home_goals_total','conceded': 'home_conceded','points': 'home_points'}).drop('numeric_name', axis=1)
    match = match.merge(
    statistics[['numeric_name', 'age', 'expected_goals', 'win', 'loss', 'draw', 'weekly', 'goals_x', 'conceded', 'points']],
    left_on='away_numeric_name',right_on='numeric_name',how='left').rename(columns={
    'age': 'away_age','expected_goals': 'away_xG','win': 'away_wins','loss': 'away_losses','draw': 'away_draws','weekly': 'away_weekly_salary',
    'goals_x': 'away_goals_total','conceded': 'away_conceded','points': 'away_points'}).drop('numeric_name', axis=1)
    match.drop(['Venue_n','Attendance'], axis=1, errors='ignore', inplace=True)

In [21]:
match

,home_numeric_name,away_numeric_name,Venue_n,Attendance,home_age,home_xG,home_wins,home_losses,home_draws,home_weekly_salary,...,home_points,away_age,away_xG,away_wins,away_losses,away_draws,away_weekly_salary,away_goals_total,away_conceded,away_points
0,13,5,9,50000,26.3,49.7,10,18,9,4668844,...,39,24.5,66.7,19,9,9,4443518,60,43,66

In [22]:
with open('../models/final_data.pkl','rb')as f:
    final_data=pickle.load(f)

In [23]:
if 'Attendance'in match.columns and 'Venue_n'in match.columns:
    #Logistic Regression + Filter_3
    with open('../models/model_1_lr.pkl', 'rb')as f:
        model_1 = pickle.load(f)
    y_pred=model_1.predict(match)
    if(y_pred==1):
        print("the Winner is ",home)
    elif(y_pred==2):
        print("the Winner is ",away)
    else :
        print("Drow")
elif('Attendance'in match.columns):
    #Logistic Regression + Filter_2
    with open('../models/model_2_lr.pkl', 'rb')as f:
        model_2 = pickle.load(f)
    y_pred=model_2.predict(match)
    if(y_pred==1):
        print("the Winner is ",home)
    elif(y_pred==2):
        print("the Winner is ",away)
    else :
        print("Drow")
else:
    # Random Forest + Filter_4
    with open('../models/model_3_rf.pkl', 'rb')as f:
        model_3 = pickle.load(f)
    y_pred=model_3.predict(match)
    if(y_pred==1):
        print("the Winner is ",home)
    elif(y_pred==2):
        print("the Winner is ",away)
    else :
        print("Drow")

the Winner is  Chelsea